<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
			<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
			<a href="/ruleName/list">Rule</a> |
			<a href="/user/list" sec:authorize="hasRole('ADMIN')">User</a>
		</div>
		<div class="col-6 text-right">
			<div>Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b></div>
			<div><a th:href="@{/logout}" class="btn btn-secondary">Logout</a></div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">

		</div>
		<div class="col-6 text-right">
			<a href="/">Home</a>&nbsp;|&nbsp;<a href="/login">Login</a>
		</div>
	</div>
	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-row">
				<div class="col-md-4 mb-3">
					<label for="curveId">Curve Point Id</label>
					<input th:field="*{curveId}" type="text" class="form-control" id="curveId" name="curveId" placeholder="curve point Id">
					<span class="text-danger" th:errors="*{curveId}"></span>
				</div>
				<div class="col-md-4 mb-3">
					<label for="Term">Term</label>
					<input th:field="*{term}" type="text" class="form-control" id="Term" name="Term" placeholder="Term">
					<span class="text-danger" th:errors="*{term}"></span>
				</div>
				<div class="col-md-4 mb-3">
					<label for="Value">Value</label>
					<input th:field="*{value}" type="text" class="form-control" id="Value" name="Value" placeholder="Value">
					<span class="text-danger" th:errors="*{value}"></span>
				</div>

			</div>
			<button class="btn btn-primary" type="submit">Save data</button>
			<a class="btn btn-primary" th:href="@{/curvePoint/list}">Cancel</a>

		</form>
	</div>

</div>
</body>
</html>