<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
			<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
			<a href="/ruleName/list">Rule</a> |
			<a href="/user/list" sec:authorize="hasRole('ADMIN')">User</a>
		</div>
		<div class="col-6 text-right">
			<div>Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b></div>
			<div><a th:href="@{/logout}" class="btn btn-secondary">Logout</a></div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">

		</div>
		<div class="col-6 text-right">
			<a href="/">Home</a>&nbsp;|&nbsp;<a href="/login">Login</a>
		</div>
	</div>
	<div class="row">
		<h2>Update Rating</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/rating/update/{id}(id=${rating.id})}" th:object="${rating}" method="post" class="form-horizontal" style="width: 100%">
			<div class="col-md-4 mb-3">
				<label for="moodysRating">moodys Rating</label>
				<input th:field="*{moodysRating}" type="text" class="form-control" id="moodysRating" name="moodysRating" placeholder="moodys Rating">
				<span class="text-danger" th:errors="*{moodysRating}"></span>
			</div>
			<div class="col-md-4 mb-3">
				<label for="sandPRating">sand P Rating</label>
				<input th:field="*{sandPRating}" type="text" class="form-control" id="sandPRating" name="sandPRating" placeholder="sand P Rating">
				<span class="text-danger" th:errors="*{sandPRating}"></span>
			</div>
			<div class="col-md-4 mb-3">
				<label for="fitchRating">fitch Rating</label>
				<input th:field="*{fitchRating}" type="text" class="form-control" id="fitchRating" name="fitchRating" placeholder="fitch Rating">
				<span class="text-danger" th:errors="*{fitchRating}"></span>
			</div>
			<div class="col-md-4 mb-3">
				<label for="orderNumber">order Number</label>
				<input th:field="*{orderNumber}" type="text" class="form-control" id="orderNumber" name="orderNumber" placeholder="order Number">
				<span class="text-danger" th:errors="*{orderNumber}"></span>
			</div>

	</div>
	<button class="btn btn-primary" type="submit">Update data</button>
	<a class="btn btn-primary" th:href="@{/rating/list}">Cancel</a>
		</form>
	</div>

</div>
</body>
</html>