<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
			<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
			<a href="/ruleName/list">Rule</a> |
			<a href="/user/list" sec:authorize="hasRole('ADMIN')">User</a>
		</div>
		<div class="col-6 text-right">
			<div>Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b></div>
			<div><a th:href="@{/logout}" class="btn btn-secondary">Logout</a></div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">

		</div>
		<div class="col-6 text-right">
			<a href="/">Home</a>&nbsp;|&nbsp;<a href="/login">Login</a>
		</div>
	</div>
	<div class="row">
		<h2>Update New Rule</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/ruleName/update/{id}(id=${ruleName.id})}" th:object="${ruleName}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-row">
				<div class="col-md-4 mb-3">
					<label for="name">name</label>
					<input th:field="*{name}" type="text" class="form-control" id="name" name="name" placeholder="name">
					<span class="text-danger" th:errors="*{name}"></span>
				</div>
				<div class="col-md-4 mb-3">
					<label for="description">description</label>
					<input th:field="*{description}" type="text" class="form-control" id="description" name="description" placeholder="description">
					<span class="text-danger" th:errors="*{description}"></span>
				</div>
				<div class="col-md-4 mb-3">
					<label for="json">json</label>
					<input th:field="*{json}" type="text" class="form-control" id="json" name="json" placeholder="json">
					<span class="text-danger" th:errors="*{json}"></span>
				</div>
				<div class="col-md-4 mb-3">
					<label for="template">template</label>
					<input th:field="*{template}" type="text" class="form-control" id="template" name="template" placeholder="template">
					<span class="text-danger" th:errors="*{template}"></span>
				</div>
				<div class="col-md-4 mb-3">
					<label for="sqlStr">sqlStr</label>
					<input th:field="*{sqlStr}" type="text" class="form-control" id="sqlStr" name="sqlStr" placeholder="sqlStr">
					<span class="text-danger" th:errors="*{sqlStr}"></span>
				</div>
				<div class="col-md-4 mb-3">
					<label for="sqlPart">sqlPart</label>
					<input th:field="*{sqlPart}" type="text" class="form-control" id="sqlPart" name="sqlPart" placeholder="sqlPart">
					<span class="text-danger" th:errors="*{sqlPart}"></span>
				</div>

			</div>
			<button class="btn btn-primary" type="submit">Update data</button>
			<a class="btn btn-primary" th:href="@{/ruleName/list}">Cancel</a>
		</form>
	</div>

</div>
</body>
</html>