<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
			<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
			<a href="/ruleName/list">Rule</a> |
			<a href="/user/list" sec:authorize="hasRole('ADMIN')">User</a>
		</div>
		<div class="col-6 text-right">
			<div>Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b></div>
			<div><a th:href="@{/logout}" class="btn btn-secondary">Logout</a></div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">

		</div>
		<div class="col-6 text-right">
			<a href="/">Home</a>&nbsp;|&nbsp;<a href="/login">Login</a>
		</div>
	</div>
	<div class="row">
		<h2>Update Trade</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/trade/update/{id}(id=${trade.tradeId})}" th:object="${trade}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-row">
				<div class="col-md-4 mb-3">
					<label for="account">account</label>
					<input th:field="*{account}" type="text" class="form-control" id="account" name="account" placeholder="account">
					<span class="text-danger" th:errors="*{account}"></span>
				</div>
				<div class="col-md-4 mb-3">
					<label for="type">type</label>
					<input th:field="*{type}" type="text" class="form-control" id="type" name="type" placeholder="type">
					<span class="text-danger" th:errors="*{type}"></span>
				</div>
				<div class="col-md-4 mb-3">
					<label for="buyQuantity">buyQuantity</label>
					<input th:field="*{buyQuantity}" type="text" class="form-control" id="buyQuantity" name="buyQuantity" placeholder="buyQuantity">
					<span class="text-danger" th:errors="*{buyQuantity}"></span>
				</div>

			</div>
			<button class="btn btn-primary" type="submit">Update data</button>
			<a class="btn btn-primary" th:href="@{/trade/list}">Cancel</a>
		</form>
	</div>

</div>
</body>
</html>